node_modules
dist
.vscode
.DS_Store
.env
jre/lib/modules
release/latest.yml
release/builder-debug.yml
release/QLBH-Setup-1.0.0.exe
release/win-unpacked/ffmpeg.dll
release/win-unpacked/icudtl.dat
release/win-unpacked/libEGL.dll
release/win-unpacked/vulkan-1.dll
release/win-unpacked/libGLESv2.dll
release/win-unpacked/resources.pak
release/win-unpacked/locales/af.pak
release/win-unpacked/locales/am.pak
release/win-unpacked/locales/ar.pak
release/win-unpacked/locales/bg.pak
release/win-unpacked/locales/bn.pak
release/win-unpacked/locales/ca.pak
release/win-unpacked/locales/cs.pak
release/win-unpacked/locales/da.pak
release/win-unpacked/locales/de.pak
release/win-unpacked/locales/el.pak
release/win-unpacked/locales/es.pak
release/win-unpacked/locales/et.pak
release/win-unpacked/locales/fa.pak
release/win-unpacked/locales/fi.pak
release/win-unpacked/locales/fr.pak
release/win-unpacked/locales/gu.pak
release/win-unpacked/locales/he.pak
release/win-unpacked/locales/hi.pak
release/win-unpacked/locales/hr.pak
release/win-unpacked/locales/hu.pak
release/win-unpacked/locales/id.pak
release/win-unpacked/locales/it.pak
release/win-unpacked/locales/ja.pak
release/win-unpacked/locales/kn.pak
release/win-unpacked/locales/ko.pak
release/win-unpacked/locales/lt.pak
release/win-unpacked/locales/lv.pak
release/win-unpacked/locales/ml.pak
release/win-unpacked/locales/mr.pak
release/win-unpacked/locales/ms.pak
release/win-unpacked/locales/nb.pak
release/win-unpacked/locales/nl.pak
release/win-unpacked/locales/pl.pak
release/win-unpacked/locales/ro.pak
release/win-unpacked/locales/ru.pak
release/win-unpacked/locales/sk.pak
release/win-unpacked/locales/sl.pak
release/win-unpacked/locales/sr.pak
release/win-unpacked/locales/sv.pak
release/win-unpacked/locales/sw.pak
release/win-unpacked/locales/ta.pak
release/win-unpacked/locales/te.pak
release/win-unpacked/locales/th.pak
release/win-unpacked/locales/tr.pak
release/win-unpacked/locales/uk.pak
release/win-unpacked/locales/ur.pak
release/win-unpacked/locales/vi.pak
release/win-unpacked/locales/fil.pak
release/builder-effective-config.yaml
release/QLBH-Setup-1.0.0.exe.blockmap
release/win-unpacked/locales/en-GB.pak
release/win-unpacked/locales/en-US.pak
release/win-unpacked/locales/pt-BR.pak
release/win-unpacked/locales/pt-PT.pak
release/win-unpacked/locales/zh-CN.pak
release/win-unpacked/locales/zh-TW.pak
release/win-unpacked/snapshot_blob.bin
release/win-unpacked/d3dcompiler_47.dll
release/win-unpacked/locales/es-419.pak
release/win-unpacked/resources/app.asar
release/win-unpacked/vk_swiftshader.dll
release/win-unpacked/LICENSE.electron.txt
release/win-unpacked/Quản Lý Bán Hàng.exe
release/win-unpacked/resources/elevate.exe
release/win-unpacked/resources/jre/release
release/win-unpacked/chrome_100_percent.pak
release/win-unpacked/chrome_200_percent.pak
release/win-unpacked/LICENSES.chromium.html
release/win-unpacked/v8_context_snapshot.bin
release/win-unpacked/vk_swiftshader_icd.json
release/win-unpacked/resources/app-update.yml
release/win-unpacked/resources/jre/bin/le.dll
release/win-unpacked/resources/backend/app.jar
release/win-unpacked/resources/jre/bin/awt.dll
release/win-unpacked/resources/jre/bin/jar.exe
release/win-unpacked/resources/jre/bin/jdb.exe
release/win-unpacked/resources/jre/bin/jfr.exe
release/win-unpacked/resources/jre/bin/jli.dll
release/win-unpacked/resources/jre/bin/jps.exe
release/win-unpacked/resources/jre/bin/net.dll
release/win-unpacked/resources/jre/bin/nio.dll
release/win-unpacked/resources/jre/bin/rmi.dll
release/win-unpacked/resources/jre/bin/zip.dll
release/win-unpacked/resources/jre/lib/jvm.cfg
release/win-unpacked/resources/jre/lib/jvm.lib
release/win-unpacked/resources/jre/lib/modules
release/win-unpacked/resources/jre/bin/jaas.dll
release/win-unpacked/resources/jre/bin/java.dll
release/win-unpacked/resources/jre/bin/java.exe
release/win-unpacked/resources/jre/bin/jawt.dll
release/win-unpacked/resources/jre/bin/jcmd.exe
release/win-unpacked/resources/jre/bin/jdwp.dll
release/win-unpacked/resources/jre/bin/jmap.exe
release/win-unpacked/resources/jre/bin/jmod.exe
release/win-unpacked/resources/jre/bin/ktab.exe
release/win-unpacked/resources/jre/bin/lcms.dll
release/win-unpacked/resources/jre/lib/jawt.lib
release/win-unpacked/resources/jre/lib/tzdb.dat
release/win-unpacked/resources/jre/bin/j2gss.dll
release/win-unpacked/resources/jre/bin/javac.exe
release/win-unpacked/resources/jre/bin/javap.exe
release/win-unpacked/resources/jre/bin/javaw.exe
release/win-unpacked/resources/jre/bin/jdeps.exe
release/win-unpacked/resources/jre/bin/jhsdb.exe
release/win-unpacked/resources/jre/bin/jinfo.exe
release/win-unpacked/resources/jre/bin/jlink.exe
release/win-unpacked/resources/jre/bin/jstat.exe
release/win-unpacked/resources/jre/bin/jsvml.dll
release/win-unpacked/resources/jre/bin/kinit.exe
release/win-unpacked/resources/jre/bin/klist.exe
release/win-unpacked/resources/jre/bin/prefs.dll
release/win-unpacked/resources/jre/lib/classlist
release/win-unpacked/resources/jre/bin/attach.dll
release/win-unpacked/resources/jre/bin/extnet.dll
release/win-unpacked/resources/jre/bin/j2pcsc.dll
release/win-unpacked/resources/jre/bin/jimage.dll
release/win-unpacked/resources/jre/bin/jimage.exe
release/win-unpacked/resources/jre/bin/jshell.exe
release/win-unpacked/resources/jre/bin/jsound.dll
release/win-unpacked/resources/jre/bin/jstack.exe
release/win-unpacked/resources/jre/bin/jstatd.exe
release/win-unpacked/resources/jre/bin/saproc.dll
release/win-unpacked/resources/jre/bin/verify.dll
release/win-unpacked/resources/jre/lib/jrt-fs.jar
release/win-unpacked/resources/jre/lib/tzmappings
release/win-unpacked/resources/jre/bin/javadoc.exe
release/win-unpacked/resources/jre/bin/dt_shmem.dll
release/win-unpacked/resources/jre/bin/freetype.dll
release/win-unpacked/resources/jre/bin/j2pkcs11.dll
release/win-unpacked/resources/jre/bin/javajpeg.dll
release/win-unpacked/resources/jre/bin/jconsole.exe
release/win-unpacked/resources/jre/bin/jpackage.dll
release/win-unpacked/resources/jre/bin/jpackage.exe
release/win-unpacked/resources/jre/bin/msvcp140.dll
release/win-unpacked/resources/jre/bin/ucrtbase.dll
release/win-unpacked/resources/jre/bin/dt_socket.dll
release/win-unpacked/resources/jre/bin/jabswitch.exe
release/win-unpacked/resources/jre/bin/jarsigner.exe
release/win-unpacked/resources/jre/bin/jdeprscan.exe
release/win-unpacked/resources/jre/bin/serialver.exe
release/win-unpacked/resources/jre/bin/sunmscapi.dll
release/win-unpacked/resources/jre/bin/syslookup.dll
release/win-unpacked/resources/jre/bin/instrument.dll
release/win-unpacked/resources/jre/bin/jrunscript.exe
release/win-unpacked/resources/jre/bin/jwebserver.exe
release/win-unpacked/resources/jre/bin/management.dll
release/win-unpacked/resources/jre/bin/mlib_image.dll
release/win-unpacked/resources/jre/bin/server/jvm.dll
release/win-unpacked/resources/jre/lib/fontconfig.bfc
release/win-unpacked/resources/jre/bin/fontmanager.dll
release/win-unpacked/resources/jre/bin/sspi_bridge.dll
release/win-unpacked/resources/jre/conf/net.properties
release/win-unpacked/resources/jre/lib/jfr/default.jfc
release/win-unpacked/resources/jre/lib/jfr/profile.jfc
release/win-unpacked/resources/backend/seed/database.db
release/win-unpacked/resources/jre/bin/splashscreen.dll
release/win-unpacked/resources/jre/bin/vcruntime140.dll
release/win-unpacked/resources/jre/bin/w2k_lsa_auth.dll
release/win-unpacked/resources/jre/conf/jaxp.properties
release/win-unpacked/resources/jre/lib/security/cacerts
release/win-unpacked/resources/jre/bin/jaccesswalker.exe
release/win-unpacked/resources/jre/conf/sound.properties
release/win-unpacked/resources/jre/bin/management_ext.dll
release/win-unpacked/resources/jre/bin/server/classes.jsa
release/win-unpacked/resources/jre/bin/vcruntime140_1.dll
release/win-unpacked/resources/jre/conf/logging.properties
release/win-unpacked/resources/jre/bin/jaccessinspector.exe
release/win-unpacked/resources/jre/bin/javaaccessbridge.dll
release/win-unpacked/resources/jre/bin/management_agent.dll
release/win-unpacked/resources/jre/lib/psfont.properties.ja
release/win-unpacked/resources/jre/lib/psfontj2d.properties
release/win-unpacked/resources/jre/conf/security/java.policy
release/win-unpacked/resources/jre/lib/security/blocked.certs
release/win-unpacked/resources/jre/conf/security/java.security
release/win-unpacked/resources/jre/lib/security/default.policy
release/win-unpacked/resources/jre/lib/fontconfig.properties.src
release/win-unpacked/resources/jre/bin/server/classes_nocoops.jsa
release/win-unpacked/resources/jre/bin/windowsaccessbridge-64.dll
release/win-unpacked/resources/jre/conf/security/policy/README.txt
release/win-unpacked/resources/jre/conf/management/jmxremote.access
release/win-unpacked/resources/jre/bin/api-ms-win-crt-heap-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-math-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-time-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-file-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-file-l1-2-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-file-l2-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-heap-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-util-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-conio-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-stdio-l1-1-0.dll
release/win-unpacked/resources/jre/lib/security/public_suffix_list.dat
release/win-unpacked/resources/jre/bin/api-ms-win-core-debug-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-synch-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-synch-l1-2-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-locale-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-string-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-fibers-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-fibers-l1-1-1.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-handle-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-memory-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-string-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-convert-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-private-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-process-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-runtime-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-utility-l1-1-0.dll
release/win-unpacked/resources/jre/conf/management/management.properties
release/win-unpacked/resources/jre/bin/api-ms-win-core-console-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-console-l1-2-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-profile-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-sysinfo-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-sysinfo-l1-2-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-datetime-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-timezone-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-multibyte-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-namedpipe-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-filesystem-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-crt-environment-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-interlocked-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-localization-l1-2-0.dll
release/win-unpacked/resources/jre/conf/management/jmxremote.password.template
release/win-unpacked/resources/jre/bin/api-ms-win-core-errorhandling-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-libraryloader-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-processthreads-l1-1-0.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-processthreads-l1-1-1.dll
release/win-unpacked/resources/jre/bin/api-ms-win-core-kernel32-legacy-l1-1-1.dll
release/win-unpacked/resources/jre/conf/security/policy/limited/exempt_local.policy
release/win-unpacked/resources/jre/bin/api-ms-win-core-processenvironment-l1-1-0.dll
release/win-unpacked/resources/jre/conf/security/policy/limited/default_local.policy
release/win-unpacked/resources/jre/conf/security/policy/unlimited/default_local.policy
release/win-unpacked/resources/jre/conf/security/policy/limited/default_US_export.policy
release/win-unpacked/resources/jre/conf/security/policy/unlimited/default_US_export.policy
